RewriteEngine On
RewriteCond %{HTTPS} =off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

AddDefaultCharset utf-8
#php_flag magic_quotes_gpc off
ErrorDocument 404 /page404.html
